<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= question.summary %></h5>
    <p class="card-question-text"><%= question.content %></p>
    <%= link_to "Answer question", question_path(question), class: 'btn btn-secondary' if current_page?(questions_path) %>
  </div>
  <div class="card-footer">
    <small><%= "Tags: #{question.tag_names}" if question.tags.any? %></small><br>
    <small class="text-muted">
      Asked by <%=question.user.email %>,
      <%= content_tag(:abbr, title: question.created_at) do %>
        <%= time_ago_in_words(question.created_at) %> ago
      <% end %>
    </small>
  </div>
</div>