<div class="card my-2">
  <div class="card-body">
    <h5 class="card-title"><%= link_to question.summary, question_path(question) %></h5>
    <p class="card-question-text"><%= question.content %></p>
  </div>
  <div class="card-footer">
    <%= colored_tags(question.question_tags) %><br>
    <small class="text-muted">
      Asked by <%= link_to question.user.full_name, user_path(question.user), class: 'user-info-popover', data: {user_id: question.user.id} %>,
      <%= content_tag(:abbr, title: question.created_at) do %>
        <%= time_ago_in_words(question.created_at) %> ago
      <% end %>
    </small><br><hr>
    <small><%= link_to "New Answer", new_question_answer_path(question) %></small>
    <% if question.user == current_user %><small><%= link_to "Edit Question", edit_question_path(question) %> 
      <%= link_to "Delete Question", question_path(question), method: :delete %></small> <% end %>
  </div>
</div>