<div class="card">
  <div class="card-body">
    <div class="row align-items-center">
      <% if answer.question.selected_answer == answer %>
        <div class="col select-answer selected-answer">
          &#x2705;
        </div>
      <% else %>
        <div class="col select-answer">
          <%= link_to "&#x2705;".html_safe, select_answer_question_answer_path(answer.question, answer), method: :patch if answer.question.user == current_user %>
        </div>
      <% end %>
      <div class="col-11">
        <%= answer.answer %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <small class="text-muted">
      Answered by <%=answer.user.full_name %>,
      <%= content_tag(:abbr, title: answer.created_at) do %>
        <%= time_ago_in_words(answer.created_at) %> ago
      <% end %>
    </small>
    <small><%= link_to  "Edit", edit_question_answer_path(answer.question, answer) if answer.user == current_user %></small>
  </div>
</div>